@font-face {
   font-family: 'Product Sans Regular';
   font-display: swap;
   src: url('file:///C:/Users/New/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-09_125826/fonts/Product%20Sans%20Regular/font.ttf');
}
